
# LFS image placeholders (corrupted LFS objects removed 2026-07-28)
docs/img/*.jpg
docs/img/*.png
docs/screenshots/*.png
resources/img/*.png
resources/favicon.png
phpstan*

# MODULE ROOT FORBIDDEN DIRS
_docs
workbench
docs/**/*-[0-9].md
